@model DDB.ProgDec.UI.ViewModels.ProgramVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row m-2">
    <div class="col-md-4">
        <!-- NEED TO UPDATE FORM METHOD AND ENCTYPE-->
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="Program.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Program.DegreeTypeName" class="control-label"></label>
                <select asp-for="Program.DegreeTypeId" class="form-control"
                        asp-items="@(new SelectList(Model.DegreeTypes, "Id", "Description"))">
                </select>
                <span asp-validation-for="Program.DegreeTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Program.Description" class="control-label"></label>
                <input asp-for="Program.Description" class="form-control" />
                <span asp-validation-for="Program.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Program.ImagePath" class="control-label"></label>
                <img class="imagepropmedium m-2"
                     alt="@Model.Program.Description"
                     id="programimage"
                     onclick="on('/images/@Model.Program.ImagePath')"
                     src="~/images/@Model.Program.ImagePath" />
                <input asp-for="Program.ImagePath" class="form-control m-2" />
                <input type="file" name="File" id="File" accept="image/" onchange="loadFile(event)" class="m-2" />
                <span asp-validation-for="Program.ImagePath" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="m-2">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    var loadFile = function (event) {
        var output = document.getElementById('programimage');
        output.src = URL.createObjectURL(event.target.files[0]);
    }
</script>
