html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-dark {
    background: linear-gradient(90deg,#258cfb 0%, rgb(157, 65, 0) 35%);
}

.card-img {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    margin: 0px;
    padding: 2px 0px 2px 5px;
    background-color: #258cfb
}

.header h1, .header h2, .header h3, .header h4, .header h5{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Trebuchet MS','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

} 

.main{
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;

}

.sidebar {
    margin: 0px 10px 0px 10px;
    min-height: 500px;
    border-width: 1px;
    border-style: solid;
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar ul{
    list-style-type: none;
    padding-left: 5px;
    padding-right: 0px;

}

.table th {
    background-color: #258cfb;
}

.table tr:nth-child(even){
    background-color: lightblue;
}
